.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {

    height: 30%;
    width: 30%;
    position: absolute;
  }

  .md-form .prefix{
    left: 0;
    top: 12px;
}

.full-width {
  max-width: 100%;
  background-color: black;
  
}

.input-box {
  width: 50% !important;
}